
      <h1>We have the best bikes</h1>
      <p><bold>Right place to find used or new bikes. CHECK IT OUT!</bold></p>

    <div class="image">
      <%= image_tag("love_bike.jpg", class: "img-responsive") %>
    </div>
  