<h1>Contact us</h1>
<p></p>
<div class="row">
    <div class="col-lg-8 col-md-8">
            <form>
              <div class="form-group">
                  <label for="name">Your name</label>
                  <input type="text" class="form-control" placeholder="Enter your name" id="name">
              </div> <!-- end text -->
              <div class="form-group">
                  <label for="email">Enter email</label>
                  <input type="email" class="form-control" placeholder="Your email address here" id="email">
              </div> 
              <div class="form-group">
                  <label for="boxText">Your message below</label>
                  <textarea style="resize:none" cols="40" rows="5" required="required" class="form-control boxText" placeholder="Enter your message here" id="boxText"></textarea>
                  <p id="visible-comment"></p>
                  <p id="char-count"></p>
              </div>
                <button type="submit" class="btn btn-default" id="button">Submit</button>
            </form>
    </div> <!--end col -->
</div>
        