// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 100%;
}

.grid-description-detail{
	padding-left: 15px;
}

.product {
	padding-top: 5em;
}
.description-detail{
	background: #F8F8F8;
	padding: 1% 5% 2% 5%;
}
.description-detail h3{
	font-size: 1.8em;
	
	
}
.product_container {
  width: 1000px;
  margin-left: 100px;
  margin-right: -200px;
  text-align: center;
  margin-top: 75px;
}