// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Home page
h1 {
  color: red;
  text-align: center;
  font-family: Futura, Helvetica, Arial, sans-serif;
  padding-top: 5%;
  font-size: 3.5em;
}
p {
  text-align: center;
  font-size: 2em;
}
.navbar {
	text-transform: uppercase;
}
.myProject a {
 	color: white;
 	text-transform: uppercase;
 	text-decoration: none;
}

.row {
  margin-left: 30%;
}
.image {
  width: 100%;
  margin-left: 42.5%;
}

// landing page

.carousel {
	margin: auto;
}

.carousel-caption  {
text-align: center;
color: black;
font-size: 2em;
text-transform: uppercase;
font-family: 'Kalam', cursive;
}

// footer
.footer {
  color: grey;
  text-align: center;
}