// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Home page
h1 {
  color: red;
  text-align: center;
  font-family: Futura, Helvetica, Arial, sans-serif;
  padding-top: 5%;
  font-size: 3.5em;
}
p {
  text-align: center;
  font-size: 2em;
}
.navbar {
	text-transform: uppercase;
}
.myProject a {
 	color: white;
 	text-transform: uppercase;
 	text-decoration: none;
}
.form {
  margin-bottom: -40px;
  color: black;
}
#log {
  margin: 6px 12px 0 0;
  
}


.image {
  max-width: 200px;
  margin-left: 42.5%;
}

// landing page
.nav {
  z-index: 1;
}
.carousel {
	margin: auto;
}

.carousel-caption  {
text-align: center;
color: black;
font-size: 2em;
text-transform: uppercase;
font-family: 'Kalam', cursive;
}

// footer
.footer {
  color: grey;
  text-align: center;
  
  background-color: #F3F3F3;
    padding-top: 10px;
    padding-bottom: 0px;
}

//Products
.new {
  text-align: left;
}
.edit {
  text-align: center;
}
.field {
  width: 350px;
  margin: 0 auto;
}

.form-product {
  text-align: center;
}
h2 {
  text-align: center;
}

// Contact page
.panel-body {
  margin-top: 85px;
}
#row1 {
  max-width: 1000px;
  margin-left: 38%;
}
.btn-default-transparent {
  border-color: black;
  color: black;
  
}

// Log in - log out
.header1 {
  margin-top: 85px;
  font-size: 3em;
  text-transform: uppercase;
}
#row2, 
#row3 {
  margin-left: 38%;
}


.alert {
  margin-top: 25px;
}
