// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: red;
  text-align: center;
  font-family: Futura, Helvetica, Arial, sans-serif;
  padding-top: 5%;
}
.navbar {
	text-transform: uppercase;
}
.myProject a {
 	color: white;
 	text-transform: uppercase;
 	text-decoration: none;
}
footer {
  color: grey;
}
